<a href="https://colab.research.google.com/github/aydanaghabayli/BIM2GNN/blob/main/BIM2GRAPH_Connectivity_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [ ]:
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import os

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
os.chdir("/content/gdrive/My Drive/WorkingFiles")

In [ ]:
#importing .csv files

door_data_0 = pd.read_csv("DoorSchedule4_V2.csv", header=1)
door_data_1 = pd.read_csv("DoorSchedule3_V2.csv", header=1)
door_data_2 = pd.read_csv("DoorSchedule5_V2.csv", header=1)

In [ ]:
#deleting non-useful columns

door_data_0 = door_data_0.drop(['Type', 'Width'], axis=1)
door_data_1 = door_data_1.drop(['Type', 'Width'], axis=1)
door_data_2 = door_data_2.drop(['Type', 'Width'], axis=1)

In [ ]:
#deleting null instances

door_data_0 = door_data_0.dropna()
door_data_1 = door_data_1.dropna()
door_data_2 = door_data_1.dropna()

In [ ]:
#renaming columns

door_data_0 = door_data_0.rename(columns = {'From Room: Name': 'From', 'To Room: Name': 'To'}, inplace = False)
door_data_1 = door_data_1.rename(columns = {'From Room: Name': 'From', 'To Room: Name': 'To'}, inplace = False)
door_data_2 = door_data_2.rename(columns = {'From Room: Name': 'From', 'To Room: Name': 'To'}, inplace = False)

In [ ]:
door_data_0

               From             To
1        Group 0 WC    Group 0 LVR
2        Group 0 WC    Group 0 NB1
3       Group 0 NB1    Group 0 KIT
4       Group 0 KIT    Group 0 LVR
5       Group 1 NB1    Group 1 LVR
...             ...            ...
1055    Group 50 WC   Group 50 LVR
1056  Group 144 NB1  Group 144 KIT
1057  Group 144 NB1  Group 144 LVR
1058    Group 48 WC   Group 48 KIT
1059   Group 48 LVR    Group 48 WC

[1059 rows x 2 columns]

In [ ]:
#changing room numbers of 3 room group From column

door_data_1 = door_data_1.assign (From = door_data_1.From.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+256), x)))

In [ ]:
#changing room numbers of 3 room group To column

door_data_1 = door_data_1.assign (To = door_data_1.To.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+256), x)))

In [ ]:
#changing room numbers of 5 room group From column

door_data_2 = door_data_2.assign (From = door_data_2.From.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+512), x)))

In [ ]:
#changing room numbers of 5 room group To column

door_data_2 = door_data_2.assign (To = door_data_2.To.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+512), x)))

In [ ]:
#simplifying room names 1st group

door_data_0['From'] = door_data_0['From'].str.replace(r'Group ', '')
door_data_0['To'] = door_data_0['To'].str.replace(r'Group ', '')

In [ ]:
door_data_1

        From       To
1    269 KIT   269 WC
2     269 WC  269 LVR
3    269 LVR  269 KIT
4    270 LVR   270 WC
5    270 KIT  270 LVR
..       ...      ...
105   509 WC  509 NB1
106   510 WC  510 LVR
107  510 LVR  510 KIT
108   511 WC  511 LVR
109  511 LVR  511 KIT

[109 rows x 2 columns]

In [ ]:
#creating a list of three datasets

door_data_list = [door_data_2, door_data_1, door_data_0]

In [ ]:
#merging list into one dataset

door_dataT = pd.concat(door_data_list)

In [ ]:
door_dataT

         From       To
1     525 KIT   525 WC
2      525 WC  525 LVR
3     525 LVR  525 KIT
4     526 LVR   526 WC
5     526 KIT  526 LVR
...       ...      ...
1055    50 WC   50 LVR
1056  144 NB1  144 KIT
1057  144 NB1  144 LVR
1058    48 WC   48 KIT
1059   48 LVR    48 WC

[1277 rows x 2 columns]

In [ ]:
#saving as .csv file

door_dataT.to_csv("/content/gdrive/My Drive/WorkingFiles/DoorData_Filtered.csv")