<a href="https://colab.research.google.com/github/aydanaghabayli/BIM2GNN/blob/main/BIM2GRAPH_Connectivity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [ ]:
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import os

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
os.chdir("/content/gdrive/My Drive/WorkingFiles")

In [ ]:
#importing .csv files

door_data_1 = pd.read_csv("DoorSchedule.csv")
door_data_10x12 = pd.read_csv("Door Schedule_10x12.csv", header=1)
door_data_10x8 = pd.read_csv("Door Schedule_10x8.csv", header=1)

In [ ]:
#deleting non-useful columns

door_data_1 = door_data_1.drop(['Type', 'Width'], axis=1)
door_data_10x12 = door_data_10x12.drop(['Type', 'Width'], axis=1)
door_data_10x8 = door_data_10x8.drop(['Type', 'Width'], axis=1)

In [ ]:
#deleting null instanses

door_data_1 = door_data_1.dropna()
door_data_10x12 = door_data_10x12.dropna()
door_data_10x8 = door_data_10x8.dropna()

In [ ]:
#renaming columns

door_data_1 = door_data_1.rename(columns = {'From Room: Name': 'From', 'To Room: Name': 'To'}, inplace = False)
door_data_10x12 = door_data_10x12.rename(columns = {'From Room: Name': 'From', 'To Room: Name': 'To'}, inplace = False)
door_data_10x8 = door_data_10x8.rename(columns = {'From Room: Name': 'From', 'To Room: Name': 'To'}, inplace = False)

In [ ]:
door_data_10x12

               From             To
1        Group 0 WC    Group 0 LVR
2        Group 0 WC    Group 0 NB1
3       Group 0 NB1    Group 0 KIT
4       Group 0 KIT    Group 0 LVR
5       Group 1 NB1    Group 1 LVR
...             ...            ...
1110    Group 50 WC   Group 50 LVR
1111  Group 144 NB1  Group 144 KIT
1112  Group 144 NB1  Group 144 LVR
1113    Group 48 WC   Group 48 KIT
1114   Group 48 LVR    Group 48 WC

[1114 rows x 2 columns]

In [ ]:
#changing room nombers of 10x8 group From column

door_data_10x8 = door_data_10x8.assign (From = door_data_10x8.From.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+256), x)))

In [ ]:
#changing room nombers of 10x8 group To column

door_data_10x8 = door_data_10x8.assign (To = door_data_10x8.To.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+256), x)))

In [ ]:
#changing room nombers of 10x12 group From column

door_data_10x12 = door_data_10x12.assign (From = door_data_10x12.From.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+512), x)))

In [ ]:
#changing room nombers of 10x12 group To column

door_data_10x12 = door_data_10x12.assign (To = door_data_10x12.To.apply(lambda x: re.sub(r'Group \d+', str(int(x.split()[1])+512), x)))

In [ ]:
#simplifying room names 1st group

door_data_1['From'] = door_data_1['From'].str.replace(r'Group ', '')
door_data_1['To'] = door_data_1['To'].str.replace(r'Group ', '')

In [ ]:
#creating a list of three datasets

door_data_list = [door_data_10x12, door_data_10x8, door_data_1 ]

In [ ]:
#merging list into one dataset

door_dataT = pd.concat(door_data_list)

In [ ]:
door_dataT

         From       To
1      512 WC  512 LVR
2      512 WC  512 NB1
3     512 NB1  512 KIT
4     512 KIT  512 LVR
5     513 NB1  513 LVR
...       ...      ...
1110    50 WC   50 LVR
1111  144 NB1  144 KIT
1112  144 NB1  144 LVR
1113    48 WC   48 KIT
1114   48 LVR    48 WC

[3351 rows x 2 columns]

In [ ]:
#saving as .csv file

door_dataT.to_csv("/content/gdrive/My Drive/WorkingFiles/DoorData_Filtered.csv")